<!DOCTYPE html> 
<html> 
<head> 
	<title>Add expense</title> 	
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <link rel="stylesheet" href="./resources/css/expenses.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
     
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="./resources/JS/addExpenses.js"></script>
</head> 

<body>
<form action="/add" method="post" data-ajax="false">

    <!-- Start of first page -->
    <div data-role="page" id="what">       
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Cancel</a>
            <div data-role="navbar" data-position="fixed" data-grid="d">
                <ul>
                    <li><a href="#what" class="ui-btn-active">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#where">Where</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        
        <div data-role="content">	
            <fieldset>
                <label for="whatValue">What did you buy?</label>
                <input id="whatValue" data-type="search" name="whatValue" placeholder="Expense..." />
            </fieldset>
            <ul data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#whatValue" data-inset="true">
                {% for obj in expList %}
                    <li><a class="autocomplete" href="#">{{ obj }}</a></li>
                {% endfor %}
            </ul>
            
            <fieldset>
                <label for="number-pattern">Price</label>
                <input type="number" name="priceValue" step="0.01" min="0" id="priceValue" value="" />
            </fieldset>
            <!-- http://stackoverflow.com/questions/20432467/jquery-mobile-filtering-a-listview-of-checkboxes-causes-unstyled-checkboxes-to -->
            <legend>Categories</legend>
            <fieldset>
              <input type="text" data-type="search" id="filterinput">
            </fieldset>
            <fieldset data-role="controlgroup" data-filter="true" data-filter-reveal="true" data-input="#filterinput">
                {% for cat in categoryList %}
                    <label for="cat-{{cat.id}}">{{ cat.name }}</label>
                    <input type="checkbox" name="catValues" value="{{cat.id}}" id="cat-{{cat.id}}" />
                    
                {% endfor %}
              
    
            </fieldset>
                 
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
    
    <!-- Start of first page -->
    <div data-role="page" id="when" data-add-back-btn="true">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Cancel</a>
            <div data-role="navbar" data-position="fixed" data-grid="d">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when" class="ui-btn-active">When</a></li>
                    <li><a href="#where">Where</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        <div data-role="content">
            <label for="when">When did you buy it?</label>
            <input type="date" name="whenValue" id="whenValue" value="{{today}}">
            <!-- 
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="radio-am" id="radio-am" value="am" checked="checked">
                <label for="radio-am">AM</label>
                <input type="radio" name="radio-am" id="radio-pm" value="pm">
                <label for="radio-pm">PM</label>
            </fieldset>
             -->
             
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->


    <!-- Start of second page -->
    <div data-role="page" id="where" >
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Cancel</a>
            <div data-role="navbar" data-position="fixed" data-grid="d">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#where"  class="ui-btn-active">Where</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        <div data-role="content">	
            <legend>Where did you buy it?</legend>
                
            <fieldset>
                <input type="text" data-type="search" id="filterShops">
            </fieldset>
            <fieldset data-role="controlgroup" id="shopSelector" data-filter="true" data-filter-reveal="true" data-input="#filterShops">
                <!-- <input type="radio" name="shop" id="shop-1" value="1" checked="checked"/>
                <label for="shop-1">test</label>  -->
                {% for shop in shopList %}
                    <input type="radio" name="shopValue" id="shop-{{shop.id}}" value="{{ shop.id }}" />
                    <label for="shop-{{shop.id}}">{{ shop.name }}</label>         
                {% endfor %}
                </fieldset>
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
    
    <!-- Start of second page -->
    <div data-role="page" id="who">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Cancel</a>
            <div data-role="navbar" data-position="fixed" data-grid="d">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#where">Where</a></li>
                    <li><a href="#who" class="ui-btn-active">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->       
        
        <div data-role="content">	
            <label for="account" class="select">Which account was used?</label>
            <select name="accountValue" id="accountValue" data-mini="true" data-inline="true">
                {% for account in accountList %}
                    <option value={{account.id}}>{{ account.name }}</option>
                {% endfor %}                
            </select>
            
            <p>For who did you buy it?</p>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" id="benefValue">
                    {% for p in personList %}
                        <input type="checkbox" name="benefsValue" id="person-{{p.id}}" class="custom" value="{{p.id}}" />
                        <label for="person-{{p.id}}">{{ p.firstName }} {{ p.lastName }}</label>
                    {% endfor %}
                </fieldset>
            </div>
            
            <label for="payType" class="select">How did you pay?</label>
            <select name="payTypeValue" id="payTypeValue" data-mini="true" data-inline="true">
                {% for type in payTypes %}
                    <option value={{type.id}}>{{ type.type }}</option>
                {% endfor %}                
            </select>
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
    
    <!-- Start of second page -->
    <div data-role="page" id="save">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Cancel</a>
            <div data-role="navbar" data-position="fixed" data-grid="d">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#where">Where</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save" class="ui-btn-active">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        <div data-role="content">	
            <p id="expenseSummary" class="centered">
            On <span class="summary" id="dateDesc">date</span>,<BR/>
            you bought a <span class="summary" id="objectDesc">object</span><BR/>
            for <span class="summary" id="priceDesc">30.5</span> <span class=summary>&euro;</span><BR/>
            at <span class="summary" id="shopDesc">Carrefour</span><BR/>
            with <span class="summary" id="accountDesc">Arn Prive</span> bank account<BR/>
            for <span class="summary" id="benefDesc">Arnaud</span>.<BR/><BR/>
            <input type="submit" value="Confirm">
        </div><!-- /content -->   
    
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
    
    </div><!-- /page --> 
</form>
</body>
</html>

