<!DOCTYPE html> 
<html> 
<head> 
	<title>Add expense</title> 	
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <link rel="stylesheet" href="./resources/css/expenseList.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
     
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="./resources/JS/expenseAdd.js"></script>
</head> 

<body>

<form action="/" method="post" id="AddExpenseForm" > <!-- data-ajax="false" -->
    <!-- Start of first page -->
    <div data-role="page" id="what">       
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/list" data-icon="delete" class="ui-btn-right">Menu</a>
            <div data-role="navbar" data-position="fixed" data-grid="c">
                <ul>
                    <li><a href="#what" class="ui-btn-active">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        
        <div data-role="content">
            
        
        
            <fieldset>
                <label for="whatValue">What did you buy?</label>
                <input id="whatValue" data-type="search" name="whatValue" placeholder="Expense..." />
            </fieldset>
            <ul data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#whatValue" data-inset="true">
                {% for obj in expList %}
                    <li><a class="autocomplete" href="#">{{ obj }}</a></li>
                {% endfor %}
            </ul>
            <fieldset>
                <label for="commentValue">Comment</label>
                <input name="commentValue" id="commentValue" placeholder="Comment..." />
            </fieldset>
            <fieldset>
                <label for="number-pattern">Price</label>
                <input type="number" name="priceValue" step="0.01" min="0" id="priceValue" value="" />
            </fieldset>
            <!-- http://stackoverflow.com/questions/20432467/jquery-mobile-filtering-a-listview-of-checkboxes-causes-unstyled-checkboxes-to -->
            <legend>Categories</legend>
            <fieldset>
              <input type="text" data-type="search" id="catValue">
            </fieldset>
            <fieldset data-role="controlgroup" data-filter="true" data-filter-reveal="true" data-input="#catValue">
                {% for cat in categoryList %}
                    <label for="cat-{{cat.id}}">{{ cat.category }}</label>
                    <input type="checkbox" name="catValues" value="{{cat.id}}" id="cat-{{cat.id}}" />
                {% endfor %}
            </fieldset>
                 
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
    
    <!-- Start of first page -->
    <div data-role="page" id="when" data-add-back-btn="true">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Menu</a>
            <div data-role="navbar" data-position="fixed" data-grid="c">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when" class="ui-btn-active">When</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        <div data-role="content">
            <label for="when">When did you buy it?</label>
            <input type="date" name="whenValue" id="whenValue" value="{{today}}">
            <!-- 
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="radio-am" id="radio-am" value="am" checked="checked">
                <label for="radio-am">AM</label>
                <input type="radio" name="radio-am" id="radio-pm" value="pm">
                <label for="radio-pm">PM</label>
            </fieldset>
             -->
             
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
    
    <!-- Start of second page -->
    <div data-role="page" id="who">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Menu</a>
            <div data-role="navbar" data-position="fixed" data-grid="c">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#who" class="ui-btn-active">Who</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->       
        
        <div data-role="content">	
            <label for="account" class="select">Which account was used?</label>
            <select name="accountValue" id="accountValue" data-mini="true" data-inline="true">
                {% for account in accountList %}
                    <option value={{account.id}}>{{ account.name }}</option>
                {% endfor %}                
            </select>
            
            <p>For who did you buy it?</p>
            <div data-role="fieldcontain">
                           
                <fieldset data-role="controlgroup">
                    <label><input type="checkbox" data-mini="true" id="menageSelect" name="menageSelect" data-theme="c">Ménage</label>
                </fieldset>
                <BR>
                <fieldset data-role="controlgroup" id="benefValue">
                    
                    {% for p in personList %}
                        <input type="checkbox" name="benefsValue" id="person-{{p.id}}" class="custom" value="{{p.id}}" />
                        <label for="person-{{p.id}}">{{ p.firstName }} {{ p.lastName }}</label>
                    {% endfor %}
                </fieldset>
            </div>
            
            <label for="payType" class="select">How did you pay?</label>
            <select name="payTypeValue" id="payTypeValue" data-mini="true" data-inline="true">
                {% for type in payTypes %}
                    <option value={{type.id}}>{{ type.type }}</option>
                {% endfor %}                
            </select>
        </div><!-- /content -->
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
    
    <!-- Start of second page -->
    <div data-role="page" id="save">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>Add Expense</h1>
            <a href="/" data-icon="delete" class="ui-btn-right">Menu</a>
            <div data-role="navbar" data-position="fixed" data-grid="c">
                <ul>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#save" class="ui-btn-active">Save</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        <div data-role="content">	
            <div data-role="popup" id="popupError" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
                <div data-role="header" data-theme="a">
                    <h1>Info Missing!</h1>
                </div>
                <div role="main" style="text-align:center" class="ui-content">
                    <h3 class="ui-title">Please fill in</h3>
                    <h3 id="ErrorInput">expense</h3>

                    <a href="/" id="validateBtn" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Ok</a>
                    
                </div>
            </div>         
            
            <p id="expenseSummary" class="centered">
            
            Hello {{user}},<BR/><BR/>
            
            On <span class="summary" id="dateDesc">date</span>,<BR/>
            you bought a <span class="summary" id="objectDesc">object</span><BR/>
            for <span class="summary" id="priceDesc">30.5</span> <span class=summary>&euro;</span><BR/>
            at <span class="summary" id="shopDesc">Carrefour</span><BR/>
            with <span class="summary" id="accountDesc">Arn Prive</span> bank account<BR/>
            for <span class="summary" id="benefDesc">Arnaud</span>.<BR/><BR/>
            <input type="button" id="submitForm" value="Confirm">
        </div><!-- /content -->   
    
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
    
    </div><!-- /page --> 
</form>
</body>
</html>

