{% extends "data_page.html" %}

{% block additionalCSS %}
<!-- Editable labels X-Editable -->
	<link href="./resources/JS/jquery-editable/css/jquery-editable.css" rel="stylesheet">
	<link href="./resources/select2-4.0.0/dist/css/select2.css" rel="stylesheet">
	<link href="./resources/expenseBook.css" rel="stylesheet">
{% endblock %}

{% block menu %}
	<li><a href="./">Home</a></li>
	<li class="active"><a href="./expenses">Expenses</a></li>
	<li><a href="./persons">Persons</a></li>
	<li><a href="./shops">Shops</a></li>
	<li><a href="./categories">Categories</a></li>
	<li><a href="./accounts">Accounts</a></li>
{% endblock %}

{% block title %}Our Expenses{% endblock %}

{% block data %}
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped hoverTable">
			<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>Shop</th>
					<th>Category</th>
					<th>What?</th>
					<th>Price</th>
					<th>Bought by?</th>
					<th>Bought for?</th>
					<th>Paid with?</th>
					<th>Recorded By</th>
					<th>Recorded On</th>					
				</tr>
			</thead>
			<tbody>
			{% for expense in expenses %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ expense.date }}</td>
					<td>{{ expense.shop.name }}</td>
                    <td>{{ expense.categories|join(', ',attribute="name") }}</td>
                    <td>{{ expense.object }}</td>
					<td>{{ expense.price }}</td>
					<td>{{ expense.buyers|join(', ',attribute="firstName") }} </td>
					<td>{{ expense.beneficiaries|join(', ',attribute="firstName") }} </td>
					<td>{{ expense.account.name }}</td>
					<td>{{ expense.recordedBy.firstName }}</td>
					<td>{{ expense.recordedOn.strftime('%d-%m-%Y %H:%M') }}</td>
				</tr>				
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block additionalScript %}
<script src="./resources/JS/combodate.js"></script>
<script src="./resources/JS/moment.js"></script>
<!--<script src="./resources/bootstrap/js/bootstrap-datepicker.js"></script>-->
<script src="./resources/JS/jquery-editable/js/jquery-editable-poshytip.js"></script>
<!--<script src="./resources/poshytip-1.2/src/jquery.poshytip.js"></script>-->
<!--Select 2-->
<script src="./resources/select2-4.0.0/dist/js/select2.full.min.js"></script>  
<script>
		//turn to inline mode
		$.fn.editable.defaults.mode = 'inline';
		
		$(document).ready(function() {
			
			/*Make Date editable.*/
			$.each($('a[id^="date"]'), function(){
				$(this).editable({
					format: 'yyyy/mm/dd',    
					viewformat: 'dd/mm/yyyy',    
					datepicker: {
						weekStart: 1,
					}
				});
			});
			
			/*Make Shop Editable > LIST*/
			$.each($('a[id^="shop"]'), function(){
				$(this).editable({
					source: [
								{% for shop in shopList %}
									{ value:'{{ shop.name }}' , text:'{{ shop.name }}'},
								{% endfor %}
							]
				});
			});
			
			/*Make Category Editable > LIST*/
			$.each($('a[id^="category"]'), function(){
				$(this).editable({
					source: [
								{% for category in categoryList %}
									{ value:'{{ category.name }}' , text:'{{ category.name }}'},
								{% endfor %}
							]
				});
			});
			
			/*Make Object Editable > TEXT*/
			$.each($('a[id^="object"]'), function(){
				$(this).editable();
			});
			
			/*Make Price Editable > TEXT*/
			$.each($('a[id^="price"]'), function(){
				$(this).editable();
			});
			
			/*Make Buyer Editable > SELECT2*/
			$.each($('a[id^="buyer"]'), function(){
				$(this).editable({
					source: [
								{% for person in personList %}
									{ id:'{{ person.firstName }}' , text:'{{ person.firstName }}'},
								{% endfor %}
							],
					select2:{
								multiple: true
							}
				});
			});
			
			/*Make Beneficiaries Editable > SELECT2*/
			$.each($('a[id^="beneficiary"]'), function(){
				$(this).editable({
					source: [
								{% for person in personList %}
									{ id:'{{ person.firstName }}' , text:'{{ person.firstName }}'},
								{% endfor %}
							],
					select2:{
								multiple: true
							}
				});
			});
			
			/*Make Account Editable > LIST*/
			$.each($('a[id^="account"]'), function(){
				$(this).editable({
					source: [
								{% for account in accountList %}
									{ value:'{{ account.name }}' , text:'{{ account.name }}'},
								{% endfor %}
							]
				});
			});
			
			
		});		
</script>
{% endblock %}