<!DOCTYPE html> 
<html> 
<head> 
	<title>To Buy List</title> 	
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <link rel="stylesheet" href="./resources/css/expenseList.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
     
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="./resources/JS/toBuyList.js"></script>
</head> 

<body>   
    <div data-role="page">
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>ToBuy List</h1>
            <div data-role="navbar" data-position="fixed">
                <ul>
                    <li><a href="/toBuy" rel="external" class="ui-btn-active">List</a></li>
                    <li><a href="/toBuyAdd" rel="external">Add</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        
        <div data-role="content">
            <div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
                <div data-role="header" data-theme="a">
                <h1>Delete ToBuy?</h1>
                </div>
                <div role="main" style="text-align:center" class="ui-content">
                    <h3 class="ui-title">Are you sure you want to delete</h3>
                    <h3 id="delExpense">toBuy</h3>
                    
                    <p>This action cannot be undone.</p>
                    <a href="#" id="cancelBtn" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
                    <a href="/" id="deleteBtn" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Delete</a>
                </div>

            </div>

            <table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stripe ui-body-d ui-shadow">
            <thead>
                <tr id="header">
                    <th>Object</th>
                    <th data-priority="1">Categories</th>
                </tr>
            </thead>
                       
            <tbody>
            {% for toBuy in toBuyList %}
                {% if toBuy.enabled %}
                    <tr id="{{ toBuy.id }}">
                        <td class="object">{{ toBuy.object }}</td>
                        <td class="cat">{{ toBuy.categories|join(', ',attribute="category") }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            </table>
        </div>
        
        <div data-role="footer" data-position="fixed" data-theme="a">
            <h4>B&amp;P</h4>
        </div><!-- /footer -->
        
    </div><!-- /page -->
</body>
</html>

