<!DOCTYPE html> 
<html> 
<head> 
	<title>Expenses</title> 	
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <!--<link rel="stylesheet" href="./resources/css/expenseList.css" />-->
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />-->
    
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Mateialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    
    <!--
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="./resources/JS/jqueryFinger.js"></script>
    <script src="./resources/JS/expenseList.js"></script>
    -->
</head> 

<body>


<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp&nbsp&nbsp B&P Expenses</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="./list">List</a></li>
        <li><a href="./">Balance</a></li>
        <li><a href="./downloadcsv"><i class="material-icons">file_download</i></a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="./list">List</a></li>
        <li><a href="./">Balance</a></li>
        <li><a href="./downloadcsv">Download</a></li>
      </ul>
    </div>
</nav>
<div class="container">  
    
    <ul class="collection">
        {% for expense in expenses %}
            <li class="collection-item avatar" onclick="$('#modal{{loop.index}}').modal('open');">
                
                {% if expense.nb_buyers > 1 %}
                    {% load static %}
                    <img src="{% static 'ExpApp/Pictures/iconMulti.png' %}" alt="" class="circle">
                {% else %}
                    {{expense.account.owner.all|first|make_list|first}}
                    {% load static %}
                    {% with expense.account.owner.all|first|make_list|first as image_static %}
                        {% with  'ExpApp/Pictures/icon'|add:image_static|add:'.png' as image_path%} 
                            <img src="{% static image_path %}" alt="" class="circle"/>
                        {% endwith %}
                    {% endwith %}                   
                {% endif %}
                
                <span class="title">{{expense.object}}</span>, {{expense.comment}}.
                </label>
                <p>
                    <b>{{expense.price}} &euro;</b>
                    
                </p>
                
                {% for cat in expense.categories.all %}
                    <span class="badge teal white-text">{{ cat.name }}</span>
                {% endfor %}
                <span class="secondary-content">{{ expense.date|date:"d b Y" }}</span>
                
                {{ expense.payType.type }}
            </li>
             
            <!-- Modal Bottom Sheet, triggered via JS (onclick of above li element) -->
            <div id="modal{{loop.index}}" class="modal bottom-sheet">
                <div class="modal-content">
                    {% if expense.nb_buyers > 1 %}
                        <img src="resources/Pictures/iconMulti.png" alt="" class="circle" style="width:42px">
                    {% else %}
                        <img src="resources/Pictures/icon{% for buyer in expense.account.owner.all %}{{ buyer.firstname }}{% endfor %}.png" alt="" class="circle" style="width:42px">
                    {% endif %}
                    
                    <span class="secondary-content">{{ expense.date|date:"d b Y" }}</span>
                    
                    <h4>{{expense.object}}</h4>
                    <p>
                        <b>{{expense.price}} &euro;</b><br>
                        {% regroup beneficiaries by firstname as benefs_list %}
                        Bought for: {{ benefs_list }}, <BR>
                        Paid with: {{ expense.payType.name }},<br>
                        Paid from: {{ expense.account.name }}.
                        
                        {% for cat in expense.categories.all %}
                            <span class="badge teal white-text">{{ cat.name }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                  <a href="#!" class=" modal-action waves-effect waves-green btn-flat">EDIT</a>
                </div>
            </div>
            
        {% endfor %}    
    
    <!-- Modal Trigger -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="./add">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>
</div>  <!-- /container -->   
    
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="./resources/JS/expenseList.js"></script>
</body>
</html>
