<!DOCTYPE html> 
<html> 
<head> 
	<title>Shortcuts</title> 	
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href={% load static %}{% static 'ExpApp/CSS/shortcuts.css' %} />

</head> 

<body>

<!--<div class="navbar-fixed">-->
    <nav>
        <div class="nav-wrapper">
            <a href={% url "expapp:index" %} class="brand-logo">&nbsp&nbsp&nbsp B&P Expenses</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="searchButton tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search"><i class="material-icons">search</i></a></li>
                <li class="active"><a href={% url "expapp:shortcuts" %} class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Shortcuts"><i class="material-icons">view_module</i></a></li>
                <li class><a href={% url "expapp:index" %} class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="List View"><i class="material-icons">view_list</i></a></li>
				<!--
				<li><a href={% url "expapp:balance" %} class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Balance"><i class="material-icons">receipt</i></a></li>
                -->
				<li><a href={% url "expapp:download" %} class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Download"><i class="material-icons">file_download</i></a></li>
                <li><a href={% url "expapp:logout" %} class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout"><i class="material-icons">launch</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#" class="searchButton"><i class="material-icons">search</i>Search</a></li>
                <li class="active"><a href={% url "expapp:shortcuts" %}><i class="material-icons">view_module</i>Shortcuts</a></li>
                <li class><a href={% url "expapp:index" %}><i class="material-icons">view_list</i>List View</a></li>
                <!--
				<li><a href={% url "expapp:balance" %} ><i class="material-icons">receipt</i>Balance</a></li>
                -->
				<li><a href={% url "expapp:download" %}><i class="material-icons">file_download</i>Download</a></li>
                <li><a href={% url "expapp:logout" %}><i class="material-icons">launch</i>Logout</a></li>
            </ul>           
        </div>
    </nav>
<!--</div>-->

<div class="container">  
	<div class="row">
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/add.png' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/lunch.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Lunch&categories=Lunchs Arn&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/intermarche.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Intermarche&categories=Alimentation&currency=EUR&benefs=Tous&account=Arnaud%20Belfius&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/bichet.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Bichet&categories=Alimentation&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/fuel.png' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Essence&categories=Essence/Polo&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/ManorFood.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Manor%20Food&categories=Alimentation&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/Manor.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Manor&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/coop.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Coop&categories=Alimentation&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Maestro">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/repassage.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Repassage&categories=Ménage&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Cash">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/menage.png' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?object=Ménage&categories=Ménage&currency=CHF&benefs=Tous&account=Commun%20UBS&payType=Virement">Ajouter</a>
				</div>
			</div>
		</div>
		
		<div class="col s6 m3">
			<div class="card">
				<div class="card-image">
					<img src={% static 'ExpApp/Pictures/st12.jpg' %}>
					<span class="card-title"></span>
				</div>
				
				<div class="card-action">
					<a href="./add?categories=SWISSto12&currency=EUR&benefs=Arn&account=Arnaud%20Belfius&payType=MasterCard">Ajouter</a>
				</div>
			</div>
		</div>
		
	</div><!-- /row -->
</div>  <!-- /container -->   
    
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/static/ExpApp/JS/expenseList.js"></script>
</body>
</html>
